.DialogContent {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(281px, 80vw, 384px);
  /* min px for no x-scroll */
}

.dropdownMenuButton {
  justify-self: right;
  display: inline-flex;
}

.smallButton {
  min-height: auto;
}

.dropdownMenuContent {
  display: grid;
  gap: 1rem;
  background-color: white;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dropdownMenuItem {
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: none;
}

.dropdownMenuItem:hover {
  background-color: gray;
}

.recipeTitle,
.actionButtons {
  justify-self: center;
}

.ingredientsContainer {
  max-height: 288px;
  scrollbar-width: thin;
  overflow-y: auto;
}

.ingredientInfo {
  position: relative;
  max-width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}

.labelInput {
  display: grid;
}

.ingredientRow,
.quantityRow,
.macrosRow,
.actionButtons {
  display: flex;
  gap: 0 1rem;
}

.ingredientRow>div,
.quantityRow>div,
.macrosRow>div {
  min-width: 0;
  flex: 1;
}

.ingredientRow input,
.quantityRow input,
.macrosRow input {
  width: 100%;
  min-width: 0;
}

.quantityRow {
  margin-bottom: 1rem;
}

.deleteIngredientButton {
  position: absolute;
  display: inline-flex;
  top: 6px;
  right: 16px;
}

.newIngredientButton {
  justify-self: left;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.AccordianRoot {
  justify-self: start;
}

.AccordionTrigger {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: transparent;
  border: none;
}

.AccordionTrigger[data-state="open"]>.AccordionChevron {
  transform: rotate(180deg);
}
