.ring {
  display: flex;
  align-items: center;
  justify-content: center;
  background: conic-gradient(black 0deg, grey 0deg);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
}

.ring::before {
  content: "";
  position: absolute;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  background-color: white;
}

.pValue {
  position: relative;
}

.toolbar {
  display: flex;
  justify-content: end;
  padding: 1rem;
}
