.ring {
  display: flex;
  align-items: center;
  justify-content: center;
  background: conic-gradient(black 0deg, grey 0deg);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
}

.ringBefore {
  content: "";
  position: absolute;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  background-color: white;
}

.ringBefore:hover,
.ringBefore:hover {
  background-color: silver;
}

.pValue {
  position: relative;
}

.recipe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe:hover,
.reicpe:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.recipeButton {
  flex-grow: 1;
  display: grid;
  justify-items: start;
  background-color: transparent;
  border: none;
}

.cal {
  color: gray;
}

.SeparatorRoot {
  background-color: black;
}

.SeparatorRoot[data-orientation="horizontal"] {
  height: 1px;
  width: 100%;
}

.SeparatorRoot[data-orientation="vertical"] {
  height: 100%;
  width: 1px;
}

.DialogOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
}
