.formContainer {
  display: flex;
  justify-content: center;
}

.form {
  display: grid;
  gap: 1rem;
  /* border: 1px solid black; */
  /* padding: 1rem; */
}

.fieldset {
  border: none;
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.boldLabel {
  font-weight: 600;
}

.labelInput {
  display: grid;
}

.labelInput>* {
  width: 185px;
}
