.formContainer {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  border: 1px solid black;
  padding: 1rem;
}

.labelInput {
  display: flex;
  flex-direction: column;
}
