*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui;
}

input,
button,
textarea,
select {
  font: inherit;
  color: black;
  padding: 1px;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 2px;
  min-height: 2rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

button:hover {
  cursor: pointer;
}
